################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdminFinal/FileContentIndex/368bb794-8405-4562-8457-44a0ff204092.vsidx
