
@{
    ViewBag.Title = "OwnerAppDet";
    Layout = "~/Views/Shared/SideNav.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>

    <div class="sidebarfloat"></div>
    <div class="centerdiv">
        <h1>DETAILS</h1>
    </div>

    <div class="leftdiv">
        <label class="txtlbl">NAME: </label>
        <input type="text" id="txtName" value="" class="txtbox" /> <br />

        <label class="txtlbl">STATUS: </label>
        <input type="text" id="txtStat" value="" class="txtbox" /> <br />

        <label class="txtlbl">EMAIL: </label>
        <input type="text" id="txtEmail" value="" class="txtbox" style="text-transform:none"/> <br />

        <label class="txtlbl">PHONE: </label>
        <input type="text" id="txtPhone" value="" class="txtbox" /> <br />
        <label class="txtlbl">ADDRESS: </label>
        <input type="text" id="txtAdd" value="" class="txtbox" /> <br />

        <label class="txtlbl">COMPANY: </label>
        <input type="text" id="txtCom" value="" class="txtbox" /> <br />


    </div>
    <div class="rightdiv">


        <button id="btn_bp" class="btnDets">  BUSINESS PERMIT</button><br /><br />
        <button id="btn_land" class="btnDets"> LAND TITLE</button><br /><br />
        @*<button id="btn_lot" class="btnDets"> LOT IMAGE</button><br /><br />*@
    </div>


    <div class="centerdiv">

       
   
        <br /><br />
        <button id="btn_accept" class="btn_accept">ACCEPT</button>
        <button id="btn_reject" class="btn_reject">REJECT</button>
    </div>



    <script type="module" src="~/Scripts/myScripts/Owner/OwnerAppDet.js"></script>
</body>

