
@{
    ViewBag.Title = "LogIn";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <link href="~/Scripts/myScripts/Login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script type="module" src="~/Scripts/myScripts/ForgotPass.js"></script>



</head>
<body>
    <div class="container">
        <div class="left-div">
            <input type="image" class="image" id="ParkBaiLogo" title="ParkBai Logo" src="" loading="lazy" />
        </div>

        <div class="right-div">
            <div>
                <div class="logDeets">
                    <div class="header">
                        WELCOME TO PARKBAI!
                    </div>
                    <br />
                    <br />
                    <form>
                        <div class="textbox-container">
                            <div class="normal">Enter Email:</div>
                            <input type="text" id="txtEmail" name="txtEmail" class="txtbox" />
                        </div>


                        <br />
                        <br />
                        

                        <input type="submit" id="btnLogin" class="loginbutton" value="VERIFY" />
                    </form>
                </div>
            </div>

        </div>
    </div>




</body>
</html>

