
@{
    ViewBag.Title = "LogIn";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
   
    <link href="~/Scripts/myScripts/Login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script type="module" src="~/Scripts/myScripts/Login.js"></script>
  

   
</head>
<body>
    <div class="container">
        <div class="left-div">
            <input type="image" class="image" id="ParkBaiLogo" title="ParkBai Logo" src="" loading="lazy" />
        </div>

        <div class="right-div">
            <div><div class="logDeets">
                <div class="header">
                    WELCOME TO PARKBAI!
                </div>
                <br />
                <br />
                <form>
                    <div class="textbox-container">
                        <div class="normal">Username</div>
                        <input type="text" id="txtuser" name="txtuser" class="txtbox" />
                    </div>


                    <br />
                    <br />
                    <div class="textbox-container">
                        <div class="normal">Password</div>
                        <i class=" bi bi-eye-slash" id="togglePassword"></i>
                        <input type="password" id="txtpass" name="txtpass" class="txtbox txtpad" /><br />

                    </div>


                    <br />
                    <div class="Linkbutton">
                        <a href="/Home/ForgotPass">Forgot Password?</a>
                    </div>
                    <br />


                    <input type="submit" id="btnLogin" class="loginbutton" value="LOGIN" />
                </form>
            </div></div>

        </div>
    </div>




</body>
</html>

