@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    font-family: Raleway;
}



.logDeets {
    background-color: #E4F4FF;
    margin: 50px 100px 50px 100px;
    border-radius: 50px;
    text-align: center;
    color: #003459;
    padding: 50px 30px 30px 30px;
    height: 80%;
    width: 60%;
}

.image {
    margin-top: 180px;
    width: 100%;
}

.header {
    font-size: 60px;
    font-weight: 900;
}



.textbox-container {
    position: relative;
}

    .textbox-container i {
        position: absolute;
        top: 60%;
        right: 15%;
        transform: translateY(-50%);
        color: #5aa7cd;
        font-size: 25px;
    }

    .textbox-container .normal {
        font-weight: 400;
        font-size: 20px;
        text-align: left;
        background-color: #E4F4FF;
        position: absolute;
        margin-left: 80px;
    }

    .textbox-container .txtbox {
        box-sizing: border-box;
        background-color: #E4F4FF;
        border: 2px solid #003459;
        margin-top: 15px;
        border-radius: 50px;
        height: 60px;
        width: 80%;
        font-size: 25px;
        padding: 15px;
    }

.txtpad {
    padding-right: 50px;
}

.loginbutton {
    background-color: #003459;
    color: #E4F4FF;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    border-radius: 50px;
    margin-top: 40px;
}




.container {
    display: flex;
    height: 100%;
}

.left-div {
    flex: 1; /* This makes the left div take up all available space */
    background-color: #E4F4FF;
    padding: 20px;
}

.right-div {
    flex: 1; /* This makes the right div take up all available space */
    background-color: #003459; /* Change to your desired color */
    padding: 20px;
}
